language: python

matrix:
  include:
    - python: "2.7"
      dist: xenial
      sudo: false
    - python: "3.3"
      dist: trusty
      sudo: false
    - python: "3.4"
      dist: trusty
      sudo: false
    - python: "3.5"
      dist: xenial
      sudo: false
    - python: "3.6"
      dist: xenial
      sudo: false
    - python: "3.7"
      dist: xenial
      sudo: true

install: pip install -r dev-requirements.txt

script: make test
