include reppy/rep-cpp/deps/url-cpp/src/*
include reppy/rep-cpp/deps/url-cpp/include/*
include reppy/rep-cpp/src/*
include reppy/rep-cpp/include/*
include reppy/robots.pyx
include reppy/robots.pxd
include reppy/robots.cpp
